mixin heading-xlg(lg, sm)
  .c-heading.is-xlg&attributes(attributes)
    if !sm
      | !{lg}
    else
      b !{lg}
      small !{sm}


mixin heading-lg(lg, sm)
  .c-heading.is-lg&attributes(attributes)
    if !sm
      | !{lg}
    else
      small !{sm}
      b !{lg}

mixin heading-md(lg, sm)
  .c-heading.is-md&attributes(attributes)
    if !sm
      | !{lg}
    else
      small !{sm}
      b !{lg}
